{{!< default}}
<div class="container">
	<div class="jumbotron"><img src="/images/logo.svg" width="160">
		<h1>Welcome</h1>
		<p>This is your new <a href='http://keystonejs.com' target='_blank'>KeystoneJS</a> website.</p>
		<p>
			It includes the latest versions of
			<a href='http://getbootstrap.com/' target='_blank'>Bootstrap</a>
			and <a href='http://www.jquery.com/' target='_blank'>jQuery</a>.
		</p>
		<p>Visit the <a href='http://keystonejs.com/guide' target='_blank'>Getting Started</a> guide to learn how to customise it.</p>
		<hr>
		<p>We have created a default Admin user for you with the email <strong>javlonarjei042@gmail.com</strong> and the password <strong>12345</strong>.</p>
		<p><a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">Sign in</a> to use the Admin UI.</p>
		<hr>
		<p>
			Remember to <a href='https://github.com/keystonejs/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
			<a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.
		</p>
	</div>
</div>

<div class="container">
	<h2>API documentation</h2>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>URL</th>
				<th>Method</th>
				<th>Data</th>
				<th>Response</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>/api/teacher/login</td>
				<td>POST</td>
				<td>{teacherId:'u123456', password:'*****'}</td>
				<td>{status, message, user:{_id, teacherId, firstname, lastname}, userType:'teacher || student'}</td>
				<td>login</td>
			</tr>
			<tr>
				<td>/api/teacher/:teacherId/timetable</td>
				<td>GET</td>
				<td></td>
				<td>o'sha mashxur response ;)</td>
				<td>Timetable for teacher</td>
			</tr>
			<tr>
				<td>/api/teacher/:teacherId/attendance</td>
				<td>GET</td>
				<td></td>
				<td>{students: ['u1710005',...], lectureId:ObjectId, section:'001', course:'Operating System', status, message}</td>
				<td>STEP-1 of attendance; starts a new lecture which should be occured on current time; and returns a list of students those are supposed to attend this lecture; and id of new lecture</td>
			</tr>
			<tr>
				<td>/api/survey/start</td>
				<td>POST</td>
				<td>{title:String, content:String, author:ObjectId}</td>
				<td>{status, message, survey:{_id, title, content, student||teacher:ObjectId, createdAt}}</td>
				<td>Create new survey and returns survey data</td>
			</tr>
			<tr>
				<td>/api/survey/find</td>
				<td>GET</td>
				<td>-</td>
				<td>[ {_id, title, content, createdAt, student||teacher:{_id, firstname, lastname, studentId||teacherId}} ]</td>
				<td>Returns the list of surveys with their author informations</td>
			</tr>
		</tbody>
	</table>
</div>
